* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    display: flex;
    flex-direction: column;
}

.box textarea {
    width: 100%;
    height: 100px;
}

.box-content {
    display: flex;
    justify-content: space-between;
}
.custom-file-upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    /* display: flex;
    flex-direction: column-reverse; */
}

.custom-file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
    opacity: 0;
}

.custom-file-upload label {
    position: relative;
    display: block;
    width: 120px;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #eee;
}

.custom-file-upload label:hover {
    background-color: #ccc;
}

.custom-file-upload img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
}

.box-image{
    margin: 10px 0;
}

.box-submit {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.btn-posts {
    width: 120px;
    height: 43.04px;
    border: none;
    border-radius: 8px;
}

.show-posts {
    border-bottom: 1px solid blue;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
}

.position-relative {
    position: relative;
    width: 150px;
    height: 150px;

}

.delete-button {
    position: absolute;
    border-radius: 50%;
    bottom: 0px;
    right: 0px;
}
