.box-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}
.box-header textarea {
    width: 99%;
    height: 100px;
    outline: 1px solid blueviolet;
}

.box-submit button {
    height: 35px;
    width: 200px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: blueviolet;
    border-radius: 8px;
}
